<div class="row mb-4">
    <div class="col-lg-12 d-flex flex-row-reverse">
        <div class="dropdown">
            <button class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" type="button"><span class="fa fa-filter"></span>&nbsp;Categories<span class="caret ms-3"></span></button>
            <ul class="dropdown-menu dropdown-menu-end" data-bind="foreach: categories">
                <li class="dropdown-item">
                    <label><input type="checkbox" data-bind="checked: $root.selectedCategories, value: $data">&nbsp;<span data-bind="text: $data"></span></label>
                </li>
            </ul>
        </div>
    </div>
</div>
