{% extends 'layout.twig' %}

{% block content %}


<div class="py-5 bg-light">
    <div class="container">

        <div class="row mb-4">
            <div class="col-12">
                <a class="btn w-100 btn-success btn-lg"
                    data-bind="click: checkout"
                    href="javascript:void(0)">ONE CLICK CHECKOUT</a>
            </div>
        </div>

        {% include 'store/categories-filter.twig' %}

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            <!-- ko foreach: products -->

            <div class="col" data-bind="visible: visible">
                <div class="card shadow-sm">
                    <img src="" alt="" data-bind="attr: {src: image}">
                    <title>
                        Placeholder
                    </title>
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="card-text" data-bind="text: sku"></p>
                            <ul data-bind="foreach: categories" class="list-inline">
                                <li class="list-inline-item" data-bind="text: $data"></li>
                            </ul>
                        </div>

                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button class="btn btn-sm btn-success"
                                    data-bind="click: addToCart"
                                    type="button">Add to cart</button>
                            </div>
                            <span data-bind="visible: addedToCart, text: addedToCart"></span>
                            <small class="text-muted" data-bind="text: price"></small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /ko -->

        </div>

    </div>
</div>

{% endblock %}

{% block scripts_bottom %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.1/knockout-latest.js"></script>
<script src="/js/store-viewmodel.js"></script>
{% endblock %}
