{% extends 'layout.twig' %}

{% block content %}

<h3 class="mb-3">Product</h3>

<form action="javascript:void(0)" class="col-12 col-md-6" data-bind="submit: save">

    <div class="mb-3 col-md-6 col-12">
        <label class="form-label" for="categories">Vendor</label>
        <select class="form-select" id="categories"
            required
            data-bind="options: arr_vendors, value: vendor, optionsValue: 'id', optionsText: 'name', optionsCaption: '...'"></select>
    </div>

    <div class="mb-3 col-md-6 col-12">
        <label class="form-label" for="sku">SKU</label>
        <input class="form-control" id="sku" type="text" data-bind="value: sku" required>
    </div>

    <div class="mb-3 col-md-6 col-12">
        <label class="form-label" for="price">Price</label>
        <input class="form-control" id="price" type="number" step=".01" data-bind="value: price" required>
    </div>

    <div class="mb-3 col-md-6 col-12">
        <label class="form-label" for="shipment_delivery_times">Shipment Delivery Times <small>(days)</small></label>
        <input class="form-control" id="shipment_delivery_times" type="number" step="1" data-bind="value: shipment_delivery_times">
    </div>

    <div class="mb-3 col-md-6 col-12">
        <label class="form-label" for="inventory">Inventory</label>
        <input class="form-control" id="inventory" type="number" step="1" data-bind="value: inventory" required>
    </div>

    <div class="mb-3 col-md-6 col-12">
        <label class="form-label" for="categories">Categories</label>
        <select class="form-select" id="categories" multiple
            data-bind="options: arr_categories, selectedOptions: categories"></select>
    </div>

    <div class="mb-3 form-check">
        <input class="form-check-input" id="active" type="checkbox" data-bind="checked: active">
        <label class="form-check-label" for="active">Active</label>
    </div>

    <div class="mb-3">
        <label for="image">Add image:<br><input type="file" id="image" onchange="handle_upload_image(this)"></label>
    </div>

    <div class="col-12 col-md-6 mb-5">
        <!-- ko foreach: images_preview -->
        <img src="" alt="" height="64px" data-bind="attr: {src: $data}">
        <!-- /ko -->
    </div>


    <button class="btn btn-primary" type="submit">Save</button>
</form>

{% endblock %}

{% block scripts_bottom %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.1/knockout-latest.js"></script>
<script>
const arr_vendors = {{arr_vendors|json_encode|raw}};
const arr_categories = {{arr_categories|json_encode|raw}};
</script>
<script src="/js/product.js"></script>
<script src="/js/product-viewmodel.js"></script>
{% endblock %}
