<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>ShopApp</title>

        <link rel="stylesheet" href="/css/style.css">

        <!-- Bootstrap core CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        {{ block('append_head') ?? '' }}

    </head>

    <body>

        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Shop</a>
                <button aria-controls="navbarCollapse" aria-expanded="false"
                aria-label="Toggle navigation" class="navbar-toggler" data-bs-target=
                "#navbarCollapse" data-bs-toggle="collapse" type="button"><span class=
                "navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        {% for item in menu_items %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{item.action}}">{{item.label}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="btn-group">
                    <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        {{logged_user_email}} <small class="text-secondary">({{logged_user_role}})</small>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a href="javascript:void(0)" onclick="logout()" class="dropdown-item" type="button">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <main class="container">

        {{ block('content') ?? '' }}

        </main>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="/js/main.js"></script>

        {{ block('scripts_bottom') ?? '' }}

    </body>

</html>
