{% extends 'layout.twig' %}

{% block content %}

<h3 class="mb-3">{{section|capitalize}}</h3>

<div class="col-12 col-md-12 col-lg-10">
<table id="tb_{{section}}" class="display" style="width:100%">
</table>
</div>

{% endblock %}


{% block append_head %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
{% endblock %}

{% block scripts_bottom %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.1/knockout-latest.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="/js/{{section}}-list.js"></script>
{% endblock %}
